@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: #313567;
  text-decoration: none;
}
a:visited {
  color: #313567;
}

h1, h2, h3, h4, p {
  color: #313567;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 2000px) {
  .main {
    max-width: 1800px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
}

.container {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.text-highlight {
  color: #FFD16C;
}

.header {
  position: sticky;
  background-color: white;
  height: 92px;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
}
.header__container {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 2000px) {
  .header__container {
    max-width: 1400px;
  }
}
@media (max-width: 1099px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  display: none;
  transition: all 250ms ease-in-out;
}
@media (max-width: 1099px) {
  .header__burger {
    position: relative;
    display: block;
    background-color: #313567;
    height: 3px;
    width: 30px;
  }
  .header__burger:hover {
    cursor: pointer;
  }
  .header__burger::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #313567;
    height: 3px;
    width: 16px;
    bottom: -12px;
    right: 0;
  }
  .header__burger::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #313567;
    height: 3px;
    width: 24px;
    top: -12px;
    right: 0;
  }
}

.open-burger {
  transform: rotate(45deg);
}
.open-burger::after {
  content: "";
  display: block;
  position: static;
  background-color: #313567;
  height: 3px;
  width: 30px;
  transform: rotate(90deg);
}
.open-burger::before {
  content: none;
}

.link {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__item:not(:first-child) {
  margin-left: 48px;
}
@media (max-width: 1280px) and (min-width: 1100px) {
  .nav__item:not(:first-child) {
    margin-left: 20px;
  }
}
.nav__link {
  display: block;
  position: relative;
  transition: all 300ms ease-in-out;
}
.nav__link:hover {
  transform: scale(1.1);
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #313567;
  opacity: 1;
  transform: translateY(0);
}
.nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #313567;
  opacity: 0;
  transform: translateY(150%);
  transition: all 300ms ease-in-out;
}
@media (max-width: 1099px) {
  .nav {
    display: none;
  }
}

.toggle {
  background-color: #F5FBFF;
  height: 56px;
  display: flex;
  border-radius: 56px;
}
.toggle__option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.toggle__option--selected::after {
  content: "";
  position: absolute;
  border-radius: 56px;
  z-index: 0;
  top: 0;
  width: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #313567;
  animation: toggleAnimation 200ms ease-in-out 1;
}
.toggle__text {
  color: #313567;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: all 210ms ease;
}
.toggle__option--selected .toggle__text {
  position: relative;
  color: white;
  z-index: 2;
}

@keyframes toggleAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.button {
  height: 56px;
  border-style: none;
  border-radius: 30px;
  padding: 0 56px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1280px) and (min-width: 1100px) {
  .button {
    padding: 0 28px;
  }
}
.button--primary {
  background: #FFD16C;
}
.button--secondary {
  background: transparent;
  border: solid #313567 2px;
}
.button:hover {
  background-color: #313567;
  color: #FFD16C;
  cursor: pointer;
  transform: scale(1.05);
}
.button:active {
  background-color: #313567;
  color: #FFD16C;
  transform: scale(0.95);
}
.button--third {
  background: #313567;
  color: white;
}
.button--third:hover {
  background-color: #FFD16C;
  color: #313567;
  cursor: pointer;
  transform: scale(1.05);
}

.menu {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: white;
  transition: all 500ms ease-in-out;
}
.menu__header {
  z-index: 9999;
}
@media (max-width: 1099px) {
  .menu {
    display: block;
  }
}
.menu__close-icon {
  height: 3px;
  width: 30px;
  background-color: #313567;
  transform: rotate(45deg);
  border-radius: 3px;
  transition: all 250ms ease-in-out;
}
.menu__close-icon::after {
  content: "";
  display: block;
  height: 3px;
  width: 30px;
  background-color: #313567;
  transform: rotate(90deg);
  border-radius: 3px;
}
.menu .nav {
  transform: translateY(-150%);
  box-sizing: border-box;
  padding: 0 0 250px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  height: 100%;
  opacity: 0;
  background-color: white;
  transition: all 500ms ease-in-out;
}
.menu .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.menu .nav__item {
  margin: 0;
}
.menu .nav__link {
  font-size: 1.5rem;
}
.menu .nav__button {
  font-size: 1.5rem;
  height: 80px;
  border-radius: 80px;
}

.close-burger {
  position: relative;
  transform: rotate(0);
}
.close-burger::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #313567;
  height: 3px;
  width: 16px;
  bottom: -12px;
  right: 0;
  transform: rotate(0);
}
.close-burger::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #313567;
  height: 3px;
  width: 24px;
  top: -12px;
  right: 0;
}

.section {
  position: relative;
}
.section__text-block {
  width: 480px;
}
@media (max-width: 1099px) {
  .section__text-block {
    width: 100%;
    text-align: center;
  }
}
.section__headline {
  font-size: 3.5rem;
  font-family: "Alexandria", sans-serif;
  margin-bottom: 40px;
  line-height: 5rem;
}
@media (max-width: 768px) {
  .section__headline {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}
.section__text {
  font-size: 1.125rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.6875rem;
}
.section__container {
  justify-content: space-between;
  flex-wrap: nowrap;
}
.section:not(:first-child) {
  margin-top: 250px;
}
@media (max-width: 768px) {
  .section:not(:first-child) {
    margin-top: 100px;
  }
}
.section__list {
  list-style: none;
  margin-top: 40px;
  margin-left: 40px;
}
.section__item {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  color: #313567;
  font-weight: 500;
  line-height: 1.6875rem;
  transition: all 200ms ease-in-out;
}
.section__item:not(:last-child) {
  margin-bottom: 1.125rem;
}
.section__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-200%);
  background: url("../img/bullet-point-circle.svg") center no-repeat;
}
.section__item:hover {
  color: #A26CFF;
}
.section__item:hover::before {
  content: "";
  background: url("../img/bullet-point-triangle.svg") center no-repeat;
}
.section__headline--s {
  font-size: 2rem;
  line-height: 3rem;
}

.highlight {
  background-color: #FFF1D2;
  border-radius: 15px;
  padding: 0 15px;
}

.hero-section {
  background: url("../img/intro__banner.svg") center no-repeat;
  height: 895px;
}
@media (max-width: 768px) {
  .hero-section {
    background: url("../img/intro__banner_mobile.svg") center no-repeat;
    height: 780px;
  }
}
.hero-section--subpage {
  background: url("../img/sub__banner.svg") center no-repeat;
  height: 478px;
}
@media (max-width: 768px) {
  .hero-section--subpage {
    background: url("../img/sub__banner_mobile.svg") center no-repeat;
  }
}
.hero-section--subpage .container {
  justify-content: center;
  align-items: center;
}
.hero-section__subtitle {
  font-size: 1rem;
  line-height: 5rem;
  font-family: "Alexandria", sans-serif;
  font-weight: 700;
  color: #A7ABD3;
}
@media (max-width: 768px) {
  .hero-section__subtitle {
    line-height: 3rem;
  }
}
.hero-section__text-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-section__text-block {
    margin-top: 40px;
  }
}
.hero-section__text {
  display: block;
  width: 730px;
  margin: 40px 0;
}
@media (max-width: 768px) {
  .hero-section__text {
    width: 100%;
    margin: 0 0 40px 0;
  }
}
.hero-section__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-section__container {
    justify-content: flex-start;
  }
}

.who-are-we-section__container {
  align-items: center;
}
@media (max-width: 1099px) {
  .who-are-we-section__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1099px) {
  .who-are-we-section__text-block {
    margin-bottom: 40px;
  }
}

.services-section__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 20px;
}
@media (max-width: 1280px) and (min-width: 1100px) {
  .services-section__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1099px) {
  .services-section__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-section__headline {
  width: 480px;
}
@media (max-width: 1099px) {
  .services-section__headline {
    width: 100%;
    text-align: center;
  }
}
.services-section__icon {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
}
.services-section__plate {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background-color: #F5FBFF;
  padding: 0 24px;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}
.services-section__plate:hover {
  transform: scaleX(1.05);
  background-color: #FFD16C;
}
.services-section__plate:hover .icon {
  transform: translateX(0);
  opacity: 1;
}

.why-us-section__container {
  flex-direction: column;
}
@media (max-width: 1099px) {
  .why-us-section__container {
    justify-content: center;
    align-items: center;
  }
}
.why-us-section__text-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .why-us-section__text-block {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
.why-us-section__text-block .why-us-section__text {
  width: 480px;
}
.why-us-section__text-block .why-us-section__headline {
  width: 480px;
}
.why-us-section__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1099px) {
  .why-us-section__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.why-us-section__block {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #F5FBFF;
  padding: 24px;
  transition: all 200ms ease-in-out;
}
.why-us-section__block:hover {
  transform: scale(1.05);
}
.why-us-section__block .why-us-section__text {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 40px;
}

.above-footer-section {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .above-footer-section {
    margin-bottom: 250px;
  }
}
.above-footer-section__text-block {
  width: 730px;
}
@media (max-width: 768px) {
  .above-footer-section__text-block {
    text-align: center;
  }
}
.above-footer-section__buttons {
  display: flex;
}
@media (max-width: 768px) {
  .above-footer-section__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.above-footer-section__button:not(:first-child) {
  margin-left: 24px;
}
@media (max-width: 768px) {
  .above-footer-section__button:not(:first-child) {
    margin-left: 0;
    margin-top: 24px;
  }
}

.footer {
  position: relative;
  background-color: #F5FBFF;
  margin: 0 auto;
  max-width: 95%;
  border-radius: 15px;
}
@media (min-width: 2000px) {
  .footer {
    max-width: 1800px;
  }
}
.footer__guy {
  position: absolute;
  right: 10%;
  transform: translateY(-96%);
  z-index: -1;
}
@media (max-width: 1099px) {
  .footer__guy {
    right: -30%;
  }
}
@media (max-width: 768px) {
  .footer__guy {
    max-width: 90%;
  }
}
@media (max-width: 1099px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1099px) {
  .footer__nav {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer__nav {
    display: none;
  }
}
.footer__info {
  width: -moz-fit-content;
  width: fit-content;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  padding: 100px 0;
}
@media (max-width: 1099px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    text-align: center;
    align-content: center;
    justify-items: center;
  }
}
.footer__text {
  width: 480px;
}
@media (max-width: 1099px) {
  .footer__text {
    width: 100%;
  }
}
.footer__link {
  position: relative;
  transition: all 300ms ease-in-out;
}
.footer__link:hover {
  transform: scale(1.1);
}
.footer__link:hover::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #313567;
  opacity: 1;
  transform: translateY(0);
}
.footer__link::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #313567;
  opacity: 0;
  transform: translateY(150%);
  transition: all 300ms ease-in-out;
}
.footer__info-link {
  display: flex;
  align-items: center;
  line-height: 2.8125rem;
  transition: all 200ms ease-in-out;
}
.footer__info-link:hover .icon {
  transform: scale(1.2);
}
.footer__info-link:hover {
  transform: translateX(-5%);
}
.footer__info-link .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}
.footer__text-block {
  margin-top: 40px;
}/*# sourceMappingURL=generalStyles.css.map */