$accent-color: #FFD16C;
$accent-color-r: #FF9797;
$accent-color-v: #A26CFF;
$secondary-color-v: #EDE7FF;
$secondary-color-y: #FFF1D2;
$block-bg: #F5FBFF;
$text-color: #313567;
$subtitle-color: #A7ABD3;


$footer-size: 560px;
$card-size: 278px;
$header-size: 92px;
$button-size: 56px;
$icon-size: 24px;

$section-margin: 250px;
$section-margin-m: 150px;
$section-margin-s: 100px;
$section-margin-t: 60px;
$block-padding: 24px;
$headline-margin: 40px;
$links-margin: 48px;
$links-margin-s: 20px;
$gap: 20px;

$text-block: 480px;
$intro-text-block: 730px;

$headline-size: 3.5rem;
$headline-line-height: 5rem;
$text-size: 1.125rem;
$button-text-size: 1rem;
$subheadline-text: 1.5rem;
$big-numbers-size: 20rem;


$headline-size-m: 2.25rem;
$headline-line-height-m: 3rem;
$text-size-m: 1rem;
$button-text-size: 1rem;
$subheadline-text: 1.5rem;
$headline-size-s: 2rem;

$round-size: 15px;

$headline-font: 'Alexandria', sans-serif;
$text-font: 'Quicksand', sans-serif;
