@import 'generalStyles.scss';

.team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__headline--center {
        text-align: center;
        margin-bottom: $section-margin-s;
    }

    &__container {
        align-items: center;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        &--2 {
            flex-direction: row-reverse;
        }
    }

    &:nth-child(even) &__container &__image {
        margin-left: $section-margin-s;

        @media (max-width: 1099px) {
            margin-left: 0;
        }
    }

    &:nth-child(odd) &__container &__image {
        margin-right: $section-margin-s;

        @media (max-width: 1099px) {
            margin-right: 0;
        }
    }

    &__text-block {
        margin-bottom: $headline-margin;

        @media (max-width: 1099px) {
            text-align: left;
            max-width: 100%;
        }
    }
}

.contact-section {
    background: url('../img/contact-section__bg.svg') center no-repeat;
    height: 422px;
    border-radius: $round-size;
    margin-bottom: $gap;

    @media (max-width: 768px) {
        background: url('../img/contact-section__bg_m.svg') center no-repeat;
    }

    &__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text-block {
        text-align: center;
        width: $intro-text-block;

        @media (max-width: 1099px) {
            width: 100%;
        }
    }

    &__button {
        margin-top: $headline-margin;
    }
}